@model List<POSAccount.Contract.CBReceipt>

@{
    ViewBag.Title = "List Of Receipts";
}


<div class="box box-solid box-default ">
    <div class="box-header with-border">
        <h3 class="box-title">
            List Of Receipts
        </h3>
    </div>
    <div class="box-body">
        <fieldset class="form-horizontal">
            <div class="row pull-right" style="padding-bottom: 10px;">
                <div class="col-md-12">
                    @Html.ActionLink("New Receipt", "CBReceipt", "CB", new { area = "CB", CBReceiptType = "", DocumentNo = "NEW" }, new { data_modal = "", id = "btnCreate", @class = "btn btn-small btn-primary" })
                    @* @Html.ActionLink("New Chart Of Account", "EditChartOfAccount", "MasterData", new { area = "MasterData" }, new { data_modal = "", id = "btnCreate", @class = "btn btn-small btn-primary" })*@
                </div>
            </div>
            <!-- Display List Section -->
            <div class="row">
                <div class="col-md-12">
                    <table id="tblList" class="table table-striped table-hover table-bordered table-responsive setting-table">
                        <thead style="background-color: steelblue; color: white; font-size: 12px;">
                            <tr>
                                <th>Receipt No.</th>
                                <th>Receipt Date</th>
                                <th>Reference No</th>
                                <th>Total Amount</th>
                                <th>Receipt Type</th>
                            </tr>
                        </thead>
                        <tbody style="font-size: 12px;">
                            @if (Model != null)
                            {
                                foreach (POSAccount.Contract.CBReceipt item in Model)
                                {
                                    <tr>
                                        <td>@Html.ActionLink(@item.DocumentNo, "CBReceipt", "CB", new {CBReceiptType=@item.ReceiptType, documentNo = @item.DocumentNo }, new { data_modal = "", id = "btnCreate" })</td>
                                        <td>@item.DocumentDate.ToString("dd-MM-yyyy") </td>
                                        <td>@item.Remark</td>
                                        <td>@item.TotalAmount </td>
                                        <td>@item.ReceiptType </td>

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
        </fieldset>
    </div>

</div>

@section Scripts {

    @*@Scripts.Render("~/bundles/modalform")*@
    @Scripts.Render("~/bundles/dataTable")


    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblList').DataTable({
                responsive: true
            });
            var table = $('#tblList').DataTable();
            $('#tblList tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
        });

    </script>
}