@model POSAccount.Contract.APInvoiceDetail

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="lblHeader">Add/Edit Invoice Item </h4>

</div>

@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmAddInvoiceItem", @class = "form-horizontal" }))
{
    <div class="modal-body form-horizontal" id="modalbody">

        <div class="form-group">
            <div>
                @Html.LabelFor(m => m.AccountCode, new { @class = "col-md-2 control-label input-sm"})
                <div class="col-md-6">

                    @Html.DropDownListFor(m => m.AccountCode, Model.AccountCodeList, "Select Account Code", new { @class = "form-control input-sm",@id="modalAccount"  })

                </div>
            </div>
        </div>
        <div class="form-group">
            <div>
                @Html.LabelFor(m => m.BaseAmount, new { @class = "col-md-2 control-label input-sm" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.BaseAmount, new { @class = "form-control input-sm ",@id="modalBaseAmount"  })

                </div>
            </div>
        </div>

        <div class="form-group">
            <div>
                @Html.LabelFor(m => m.CurrencyCode, new { @class = "col-md-2 control-label input-sm" })
                <div class="col-md-6">
                    @Html.DropDownListFor(m => m.CurrencyCode, Model.CurrencyCodeList, "Select Currency", new { @class = "form-control input-sm",@id="modalCurrencyCode"  })

                </div>
            </div>
        </div>
        @*<div class="form-group">
            <div>
                @Html.LabelFor(m => m.ChargeCode, new { @class = "col-md-2 control-label input-sm" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.ChargeCode, new { @class = "form-control input-sm " })

                </div>
            </div>
        </div>*@

        <div class="form-group">
            <div>
                @Html.LabelFor(m => m.LocalAmount, new { @class = "col-md-2 control-label input-sm" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.LocalAmount, new { @class = "form-control input-sm ",@id="modalLocalAmount" })

                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer" id="closemodal">
        <button class="btn" data-dismiss="modal">Cancel</button>
        @*<input class="btn btn-primary" type="submit" value="Save" onclick="Save()" />*@
        <input class="btn btn-primary" type="submit" onclick="AddDataToTable()" value="Save" />
    </div>

}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#frmAddInvoiceItem').validate({
                rules: {
                    modalAccountCode: {
                        reuqired: true
                    },
                    modalBaseAmount: {
                        reuqired: true
                    },
                    modalCurrencyCode: {
                        reuqired: true
                    },
                    modalLocalAmount: {
                        reuqired: true
                    }
                },
                messages: {
                    modalAccountCode: {
                        reuqired: "Account Code is required"
                    },
                    modalBaseAmount: {
                        reuqired: "Base Amount is required"
                    },
                    modalCurrencyCode: {
                        reuqired: "Currency Code is required"
                    },
                    modalLocalAmount: {
                        reuqired: "Local Amount is required"
                    }
                }
            });

            $("input ,select, textarea,hidden, a,.ui-igcombo").not($(":button,a")).keypress(function (evt) {
                if (evt.keyCode == 13) {
                    evt.preventDefault();
                    return false;
                }
            });
            $(".datepicker").datetimepicker({
                format: "DD-MM-YYYY",
                //Default: true
            });
        });
    </script>
}


